*{
    box-sizing: border-box;
}

.topo {
    width: 100vw;
    height: 10vh;
    background-color: #C3CFD9;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8833A;
    font-size: 6vw;
    font-weight: 400;
    z-index: 1;
}

.home{
    margin-top: 10vh;
}
.cabecalho{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-weight: 400;
    color: #293845;
    z-index: 1;
}
.filmes{
    width: 100vw;
    margin-top: 25vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filmes img{
    width: 35vw;
    max-width: 300px;
    height: auto;
    margin-bottom: 10vh;
    border: solid 10px #ededed;
    
}

.filmes img:hover{
	opacity: 0.8 ;
    cursor:pointer;
    border: solid 10px #C3CFD9;
}

.horarios {    
    width: 100vw;
    margin-top: 20vh;
    padding-bottom: 15vh;
    height: auto;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}
.caixa{
    margin: 1vh 5vw;
}
.horas{
    width: auto;
    height: 7vh;
    display: flex;
    
}

.hora{
    width: 25vw;
    height: 5vh;
    margin-top: 1vw;
    margin-left: 2vw;
    background-color: #E8833A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.hora:hover {
	opacity: 0.8 ;
    cursor:pointer;
}

.assento {    
    width: 90vw;
    margin-top: 23vh;
    margin-left: 5vw;
    padding-bottom: 15vh;
    height: auto;
    font-size: 5vw;
    display: flex;
    flex-wrap: wrap;
}

.bolinha{
    width: 7vw;
    height: 7vw;
    font-size: 3vw;
    margin: 1vw;
    border: solid 1px #808F9D;
    border-radius: 100%;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolinha:hover{
    opacity: 0.7 ;
    cursor:pointer;
    border: solid 1px #5b7c9c;
}

.indisponivel{
    border: solid 1px #F7C52B;
    background-color: #FBE192;
}

.selecionado{
    border: solid 1px #1AAE9E;
    background-color: #8DD7CF;
}
.exemplo {
    width: 90vw;
    font-size: 3vw;
    display: flex;
    justify-content: space-around;
}
.caixas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input p{
    font-size: 5vw;
    color: #293845;
    font-weight: 400;
    margin-left: -45vw;
}

input{
    width: 90vw;
    height: 6vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(195, 195, 195);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: solid #E8833A;
    border-radius: 5px;
    width: 40vw;
    height: 5vh;
    background-color: #E8833A;
}
a{
    text-decoration: none;
}


.escolhido{
    width: 100vw;
    height: 15vh;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0;
    font-size: 5vw;
    color: #293845;
    display: flex;
    align-items: center;
    z-index: 1;
}

.escolhido img{
    width: auto;
    height: 90%;
    margin-left: 5vw;
}
.escolhido p{
    margin-left: 5vw;
}

